
@{
    ViewBag.Title = "EmpDashboard";
}

<h2>Employee Dashboard</h2>
<button class="pull-right btn btn-warning"><a href="/User/Logout">Logout</a></button>

<button><a href="/Food/ToCollectListEmp">Foods to collect</a></button>
<br />
<button><a href="/Food/ToDistributeListEmp">Foods to distribute</a></button>
