
@{
    ViewBag.Title = "Login";
}

<h2>Welcome to ZeroHunger</h2>
<form action="" method="post">
    Username: <input type="text" name="Username" value="" class="form-control"/>
      <span class="text-danger">@Html.ValidationMessage("Username")</span><br />
    Password: <input type="text" name="Password" value="" class="form-control" />
  <span class="text-danger">@Html.ValidationMessage("Password")</span><br />
    <input type="submit" value="Login" class="btn btn-success" />
</form>
<a href="/User/Reg">New Supplier? Register Here</a>

