
@{
    ViewBag.Title = "Reg";
}
@Html.ValidationSummary()

<h2>Register your restaurant</h2>
<form action="" method="post">
    Restaurant Name:
    <input type="text" name="Name" value="" class="form-control"/> <br/>
    Address:
    <input type="text" name="Address" value="" class="form-control"/><br/>
    Contact No:
    <input type="tex" name="Contact" value="" class="form-control"/><br/>
    Email:
    <input type="text" name="Email" value="" class="form-control"/><br/>
    Username:
    <input type="text" name="Username" value="" class="form-control"/><br/>
    Password:
    <input type="password" name="Password" value="" class="form-control"/><br/>
    <input type="submit" value="Submit" class="btn btn-danger"/>

</form>

