
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="myCVhome">Home</a>
<a href="Education">Education</a>
<a href="Projects">Projects</a>
<a href="references">References</a>
<br />
<h2>this is my MyCVhome</h2>