
@{
    ViewBag.Title = "Projects";
}
<a href="myCVhome">Home</a>
<a href="Education">Education</a>
<a href="Projects">Projects</a>
<a href="references">References</a>
<br />
<h2>here is my all Projects</h2>

