
@{
    ViewBag.Title = "PlaceCollectionRequest";
}

<h2>Place A Collection Request</h2>
<form action="" method="post">
    Food Type:
    <input type="text" name="FoodType" value="" class="form-control"/> <br />
    Quantity (in packet)
    <input type="text" name="Quantity" value="" class="form-control" /> <br />
    Maximum Preserve Time:
    <input type="number" name="PreserveTime" value="" class="form-control"/><br />
    <input type="submit" value="Sent Request" />
</form>
