
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Qty</td>
            <td><a href="/Product/Edit/@item.ld">Edit</a></td>
            <td><a href="/Product/Delete/@item.ld">Delete</a></td>
        </tr>
    }
</table>
