@*@model IEnumerable<asp_lab_class_1.Models.Student>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_loggedLayout.cshtml";
}

<h2>Dashboard Index</h2>
<span class="alert alert-success">@TempData["msg"]</span>


<table class="table">
    <tr>
        <th>Student list</th>
    </tr>

    @foreach (var std in ViewBag.obj)
    {
        <tr>
            <td>
               @std
            </td>
        </tr>
    }

</table>
